<%= form_for([@ac, @fault_history]) do |f| %>
  <% if @fault_history.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@fault_history.errors.count, "error") %> prohibited this fault_history from being saved:</h2>

      <ul>
      <% @fault_history.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :problem %><br />
    <%= f.text_field :problem %>
  </div>
  
  <div class="field">
    <%= f.label :alarm %><br />
    <%= f.text_field :alarm %>
  </div>
  
 <div class="field">
    <%= f.label :comments %><br />
    <%= f.text_area :comments, :class => "small_text" %>
  </div>

	<div class="field">
    <%= f.label :fault_history_date %><br />
    <%= f.date_select :fault_history_date %>
  </div
  
  <%= f.hidden_field :ac_id, :value => @ac.id %>



  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
