<%= will_paginate @fault_histories, :param_name => 'page', :page_links => false, :previous_label => "<< Previous", :next_label => "Next >>",  %>
<br/>
	<%# if !@generator.fault_histories.last.nil? %>
		<% @fault_histories.each do |fault_history| %>
		<div> Fault on <%= fault_history.created_at %></div>
		<div>Problem : <%= fault_history.problem %></div>
		<div>Alarm : <%= fault_history.alarm %> </div>
		<div>Comments: <%= fault_history.comments %> </div>
	 
  	<span> <%= link_to "Delete", ac_fault_history_path(@ac, @ac.fault_histories.last), :confirm => 'Are you sure?', :method => :delete %> </span>

		<% end %>
		
  
  <%# end %>
  
<script type="text/javascript">
	activate_tab(4);
  formatLinkForPaginationURL("ac");
</script>
