<div class="station_list">
	<h1>Power stations under ERD </h1>
	<div class="station_overview">
	</div>
	<% @stations.each do |station| %>
		<h2> <%= link_to station.name, station_path(station) %> </h2>
		<div> No.of batteries : <%=station.batteries.count %> </div>
		<div> No.of rectifiers : <%=station.rectifiers.count %> </div>
		<div> No.of ups : <%=station.ups.count %> </div>
		<div> No.of generators : <%=station.generators.count %> </div>
		<div> No.of ups : <%=station.acs.count %> </div>
		<div><%= link_to 'Edit', edit_station_path(station) %></div>
    <div><%= link_to 'Destroy', station, :confirm => 'Are you sure?', :method => :delete %></div>
	<% end %>
		<%= will_paginate @fault_histories, :param_name => "page", :page_links => true,  :previous_label => " << Previous " , :next_label => "Next >> " , :class => "list_pagination"%>
</div>

