<h1>Power stations under ERD </h1>

<table>
  <tr>
    <th>Name</th>
    <th>Zone</th>
    <th>District</th>
    <th>Account office</th>
    <th>Maintenance office</th>
    <th>Type</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @stations.each do |station| %>
  <tr>
    <td><%= link_to station.name, station_path(station) %></td>
    <td><%= station.zone %></td>
    <td><%= station.district %></td>
    <td><%= station.account_office %></td>
    <td><%= station.maintenance_office %></td>
    <td><%= station.type %></td>
    <td><%= link_to 'Edit', edit_station_path(station) %></td>
    <td><%= link_to 'Destroy', station, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

