<% @ups.each_with_index do |up, index| %>
	 Ups #<%= index + 1 %>
	<div> Model no: <%= up.model_no %></div>
	<div> Capacity: <%= up.capacity %></div>
	<div> Installation data: <%= up.installed_date %></div>
	<div> Input AC voltage: <%= up.input_ac_voltage %></div>
	<div> Comments: <%= up.comment %></div>
	<div><%= link_to 'Edit', edit_station_up_path(@station, up) %> | <%= link_to 'Destroy', station_up_path(@station, up), :confirm => 'Are you sure?', :method => :delete %></div>
		<hr/>
<% end %>

<%= link_to 'Add New UPS', new_station_up_path(@station) %>


<script type="text/javascript">
	activate_tab(3);
</script>
