<%= form_for ([@generator, @servicing_history]) do |f| %>
  <% if @servicing_history.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@servicing_history.errors.count, "error") %> prohibited this servicing_history from being saved:</h2>

      <ul>
      <% @servicing_history.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :servicing_date %><br />
    <%= f.date_select :servicing_date %>
  </div>
  <div class="field">
    <%= f.label :hour_meter_reading %><br />
    <%= f.text_field :hour_meter_reading %>
  </div>
  <div class="field">
    <%= f.label :servicing_type %><br />
    <%= f.text_field :servicing_type %>
  </div>
  
  <div id="servicing_changed_quantity" class="field">
    <%= f.hidden_field :changed_part_no, :value => "Changed part no" %>   
    <%= f.hidden_field :changed_part_quantity, :value => "Changed part quantity" %>
    <div>
    	<input class="changed_part_no" type="text" value ="Changed part no"/>
    	<input class="changed_part_quantity" type="text" value ="Changed part quantity"/>
    	 <span id = "add_new_servicing_detail"> + Add New </span>
    </div>
    

  </div>

  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description, :class => "small_text" %>
  </div>
   <%= f.hidden_field :generator_id, :value => @generator.id %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
