<div class="fault-servicing-history">
	Servicing history of <b> <%= @generator.genset_name %> generator </b>, installed in <span style="color:#336699"><%= @station.name %> <%= @station.account_office %> </span> 
</div>

	<% if !@generator.servicing_histories.last.nil? %>
		<% @servicing_histories.each do |srv_history| %>
			<div class="small-row">
				<div class="small-left"> Servicing date </div>
				<div class="small-right"> <%=  srv_history.servicing_date %> </div>
			</div>
			
			<div class="small-row">
				<div class="small-left"> Hour meter reading : </div>
				<div class="small-right"> <%=  srv_history.hour_meter_reading %> </div>
			</div>

			<div class="small-row">
				<div class="small-left"> Servicing type : </div>
				<div class="small-right"> <%=  srv_history.servicing_type %> </div>
			</div>

			<div class="small-row">
				<div class="small-left"> Changed part no : </div>
				<div class="small-right"> <%= srv_history.changed_part_no %> </div>
			</div>

			<div class="small-row">
				<div class="small-left"> Changed part quantity : </div>
				<div class="small-right"> <%= srv_history.changed_part_quantity %> </div>
			</div>

			<div class="small-row">
				<div class="small-left"> Description : </div>
				<div class="small-right"> <%= srv_history.description %> </div>
			</div>

		 <p> <%= link_to "Delete", generator_servicing_history_path(@generator, srv_history), :confirm => 'Are you sure?', :method => :delete %> </p>
		 
		<% end %>
	<% end %>
   
  <%= will_paginate @servicing_histories, :param_name => 'page', :page_links => false,  :previous_label => "Next >>" , :next_label => "<< Previous " %>

 <%#= link_to "Edit", edit_generator_servicing_history_path(@generator, @generator.servicing_histories.last) %> 
 <div style="margin-top:6px"> 
 	<%= link_to "Add New Servicing Details", new_generator_servicing_history_path(@generator) %> 
 </div>  

  
<script type="text/javascript">
	activate_tab(5);
 // formatLinkForPaginationURL("generator");
</script>

