<%= form_for([@station, @battery]) do |f| %>
  <% if @battery.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@battery.errors.count, "error") %> prohibited this battery from being saved:</h2>

      <ul>
      <% @battery.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :model_no %><br />
    <%= f.text_field :model_no %>
  </div>
  <div class="field">
    <%= f.label :capacity %><br />
    <%= f.text_field :capacity %>
  </div>
  <div class="field">
    <%= f.label "No. of batteries" %><br />
    <%= f.text_field :cells_no %>
  </div>
  <div class="field">
    <%= f.label "No. of bank" %><br />
    <%= f.text_field :banks_no %>
  </div>
  <div class="field">
    <%= f.label :installed_date %><br />
    <%= f.date_select :installed_date %>
  </div>
  <div class="field">
    <%= f.label :installation_team %><br />
    <%= f.text_field :installation_team %>
  </div>
  <div class="field">
    <%= f.label :comment %><br />
    <%= f.text_area :comment, :class => "small_text" %>
  </div>
  
  <div class="field">
    <%= f.hidden_field :station_id, :value => @station.id %>
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
