<h1>Listing batteries</h1>

<table>
  <tr>
    <th>Model no</th>
    <th>Capacity</th>
    <th>Cells no</th>
    <th>Banks no</th>
    <th>Installed date</th>
    <th>Installation team</th>
    <th>Comment</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @batteries.each do |battery| %>
  <tr>
    <td><%= battery.model_no %></td>
    <td><%= battery.capacity %></td>
    <td><%= battery.cells_no %></td>
    <td><%= battery.banks_no %></td>
    <td><%= battery.installed_date %></td>
    <td><%= battery.installation_team %></td>
    <td><%= battery.comment %></td>
    <td><%= link_to 'Show', station_battery_path(@station, battery) %></td>
    <td><%= link_to 'Edit', edit_station_battery_path(@station, battery) %></td>
    <td><%= link_to 'Destroy', station_battery_path(@station, battery), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Add New Battery', new_station_battery_path(@station) %>

<script type="text/javascript">
	activate_tab(1);
</script>





