<% @batteries.each_with_index do |battery, index| %>
<div style="margin-bottom:5px">
  Battery # <%= index + 1 %> 
  <div> Model no: <%= battery.model_no %> </div>
  <div> Capacity: <%= battery.capacity %> </div>
  <div> Cells no: <%= battery.cells_no %> </div>
  <div> Banks no: <%= battery.banks_no %> </div>
  <div> Installed date: <%= battery.installed_date %> </div>
  <div> Installation team: <%= battery.installation_team %> </div>
 	<div><%= link_to 'Edit', edit_station_battery_path(@station, battery) %> | 
 	<%= link_to 'Delete', station_battery_path(@station, battery), :confirm => 'Are you sure?', :method => :delete %></div>
 	</div>

<% end %>


<%= link_to 'Add New Battery', new_station_battery_path(@station) %>

<script type="text/javascript">
	activate_tab(1);
</script>





