<% @batteries.each_with_index do |battery, index| %>
 <div class="element"> Battery # <%= index + 1 %> </div>
 <div class="data-list<%= index % 2 == 0 ? '' : ' alternate' %>">
 	<div class="small-row"> 
  	<div class="small-left"> Model no: </div>
  	<div class="small-right"><%= battery.model_no %></div>
  </div>
  
  <div class="small-row"> 
  	<div class="small-left"> Capacity: </div>
  	<div class="small-right"><%= battery.capacity %> KVA </div>
  </div>

  <div class="small-row"> 
  	<div class="small-left"> Cells no: </div>
  	<div class="small-right"><%= battery.cells_no %></div>
  </div>

  <div class="small-row"> 
  	<div class="small-left"> Banks no: </div>
  	<div class="small-right"><%= battery.banks_no %></div>
  </div>

  <div class="small-row"> 
  	<div class="small-left"> Installed date: </div>
  	<div class="small-right"><%= battery.installed_date %></div>
  </div>

	<div class="small-row"> 
  	<div class="small-left"> Installation team: </div>
  	<div class="small-right"><%= battery.installation_team %></div>
  </div>
  
 	<div class="small-row">
 		<%= link_to 'Edit', edit_station_battery_path(@station, battery) %> | 
 		<%= link_to 'Delete', station_battery_path(@station, battery), :confirm => 'Are you sure?', :method => :delete %>
 	</div>
 
 </div>

<% end %>


<%= link_to 'Add New Battery', new_station_battery_path(@station) %>

<script type="text/javascript">
	activate_tab(1);
</script>





