<%= form_for([@station, @rectifier]) do |f| %>
  <% if @rectifier.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@rectifier.errors.count, "error") %> prohibited this rectifier from being saved:</h2>

      <ul>
      <% @rectifier.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :model_no %><br />
    <%= f.text_field :model_no %>
  </div>
  <div class="field">
    <%= f.label :capacity %><br />
    <%= f.text_field :capacity %> KVA
  </div>
  <div class="field">
    <%= f.label "No of modules" %><br />
    <%= f.text_field :modules_no %>
  </div>

  <div class="field">
    <%= f.label :module_capacity %><br />
    <%= f.text_field :module_capacity %>
  </div>
  <div class="field">
    <%= f.label :installed_date %><br />
    <%= f.date_select :installed_date %>
  </div>
  <div class="field">
    <%= f.label :installation_team %><br />
    <%= f.text_field :installation_team %>
  </div>
  <div class="field">
    <%= f.label :input_ac_voltage %><br />
    <%= f.text_field :input_ac_voltage %> Volt
  </div>
  <div class="field">
    <%= f.label :comment %><br />
    <%= f.text_area :comment , :class => "small_text" %>
  </div>
   <div class="field">
    <%= f.hidden_field :station_id, :value => @station.id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
