<% @rectifiers.each_with_index do |rectifier, index| %>
  Rectifier # <%= index + 1 %> 
  <div> Model no: <%= rectifier.model_no %> </div>
  <div> Capacity: <%= rectifier.capacity %> </div>
  <div> Modules no: <%= rectifier.modules_no %> </div>
  <div> Module capacity: <%= rectifier.module_capacity %> </div>
  <div> Input AC voltage: <%= rectifier.input_ac_voltage %> </div>
  <div> Installed date: <%= rectifier.installed_date %> </div>
  <div> Installation team: <%= rectifier.installation_team %> </div>
 	<div><%= link_to 'Edit', edit_station_rectifier_path(@station, rectifier) %> | 
 	<%= link_to 'Destroy', station_rectifier_path(@station, rectifier), :confirm => 'Are you sure?', :method => :delete %></div>
<% end %>

<br />

<%= link_to 'Add New rectifier', new_station_rectifier_path(@station) %>

<script type="text/javascript">
	activate_tab(2);
</script>
