<h1>Listing rectifiers</h1>

<table>
  <tr>
    <th>Model no</th>
    <th>Capacity</th>
    <th>Modules no</th>
    <th>Module capacity</th>
    <th>Installed date</th>
    <th>Installation team</th>
    <th>Input ac voltage</th>
    <th>Comment</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @rectifiers.each do |rectifier| %>
  <tr>
    <td><%= rectifier.model_no %></td>
    <td><%= rectifier.capacity %></td>
    <td><%= rectifier.modules_no %></td>
    <td><%= rectifier.module_capacity %></td>
    <td><%= rectifier.installed_date %></td>
    <td><%= rectifier.installation_team %></td>
    <td><%= rectifier.input_ac_voltage %></td>
    <td><%= rectifier.comment %></td>
    <td><%= link_to 'Show', rectifier %></td>
    <td><%= link_to 'Edit', edit_rectifier_path(rectifier) %></td>
    <td><%= link_to 'Destroy', rectifier, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Rectifier', new_rectifier_path %>
