<%= form_for([@station, @ac]) do |f| %>
  <% if @ac.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ac.errors.count, "error") %> prohibited this ac from being saved:</h2>

      <ul>
      <% @ac.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "AC type" %><br />
   	<%= f.select :ac_type, [ "Split", "Window", "Package", "Other"] %>
  </div>
  <div class="field">
    <%= f.label :phase %><br />
    <%= f.text_field :phase %>
  </div>
  <div class="field">
    <%= f.label :input_voltage %><br />
    <%= f.text_field :input_voltage %> Volt
  </div>
  <div class="field">
    <%= f.label :compressor_type %><br />
    <%= f.text_field :compressor_type %>
  </div>
  
  <div class="field">
    <%= f.label :gas_type %><br />
    <%= f.text_field :gas_type %>
  </div>
  
  <div class="field">
    <%= f.label :comments %><br />
    <%= f.text_area :comments, :class => "small_text" %>
  </div>
  
  <div class="field">
    <%= f.label :installed_team %><br />
    <%= f.text_field :installed_team %>
  </div>
  <div class="field">
   <%= f.label "Installation date" %><br />
   <%= f.date_select :installed_date %>
  </div>
  
  
  <%= f.hidden_field :station_id, :value => @station.id %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
