<% @acs.each_with_index do |ac, index| %>
  Ac # <%= index + 1 %> 
  <div> Type: <%= ac.ac_type %> </div>
  <div> Phase: <%= ac.phase %> </div>
  <div> Input voltage: <%= ac.input_voltage %> </div>
  <div> Compressor type: <%= ac.compressor_type %> </div>
  <div> Gas type: <%= ac.gas_type %> </div>
  <div> Installed date: <%= ac.installed_date %> </div>
  <div> Installation team: <%= ac.installed_team %> </div>
 	<div><%= link_to 'Edit', edit_station_ac_path(@station, ac) %> | 
 	<%= link_to 'Delete', station_ac_path(@station, ac), :confirm => 'Are you sure?', :method => :delete %></div>
 	 <p><%= link_to "View Fault history", ac_fault_histories_path(ac) %></p>
<% end %>

<br />

<%= link_to 'Add New ac', new_station_ac_path(@station) %>

<script type="text/javascript">
	activate_tab(4);
</script>

