<!DOCTYPE html>
<html>
<head>
  <title>Power Section Inventory Management System</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
<div id="header">
	<div id="header_left">
		<img src="/images/ntc_logo.png" alt="Nepal Telecom"/>
		<div class="logo_label"> Nepal Telecom </div>
	</div>
	<div id="header_right">
		<h1> Power Section Inventory Management System  </h1>
		<h2> Eastern Regional Directorate, Biratnagar </h2>
	</div>
</div>

<form id="searchform">
		<input type="text" onblur="if (this.value == '') {this.value = 'Search stations...';}" onfocus="if (this.value == 'Search stations...') {this.value = '';}" id="s" name="s" value="Search stations...">
</form>


<div id="container">
	
	<%= render :partial => "layouts/sidebar" %>

	<div id="content">
	<h2> Equipment status of <%= @station.name %> power station </h2>
	<ul class="tabs">
    	<li><%= link_to "Battery", station_batteries_path(@station) %></li>
    	<li><%= link_to "Rectifier", station_rectifiers_path(@station) %></li>
    	<li><%= link_to "UPS", station_ups_path(@station) %></li>
    	<li><%= link_to "AC", station_acs_path(@station) %></li>		
    	<li><%= link_to "Generator", station_generators_path(@station) %></li>		
		</ul>


		<div class="tab_container">
			<div id="tab1" class="tab_content">
				<%= yield %>
			</div>
		</div>

	</div>
	
</div>

</body>
</html>
